body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.listContainer, .formContainer {
    width: 75%;
    height: 75%;

    @media (max-width: 1000px) {
        width: 100%;
        height: 90%;
        overflow: scroll;
    }
}

.cardContainer {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 15px;
    padding: 25px;
    margin: auto;

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
        align-self: flex-start;
        gap: 5px;
        margin-top: 8px;
        transition: all 0.5s;
    }

    a:hover {
        text-decoration: underline;
    }
    
    @media (max-width: 1000px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 25px;

        a:link, a:visited, a:hover, a:active {
            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
        border-bottom: 1px solid #333;
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            background-color: #fff;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    div {
        margin-top: 20px;
    }

    @media (max-width: 1000px) {
        width: 100%;
        gap: 10px;
        
        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
            border-bottom: 1px solid #333;
            display: flex;
            justify-content: space-between;

            button {
                border: none;
                background-color: #fff;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        div {
            margin-top: 20px;
        }
    }
}